<div class="row">
  <div class="col-md-12">
    <h2>マイページ</h2>
    <h3>名前:<%= @user.name %></h3>
    <br>
    <h3>自分が関わったプロジェクト</h3>
    <% @posts.each do |post| %>
      <div class="article">
        <h3>タイトル：<%= post.title %></h3>
        <p>作成日：<%= post.created_at %></p>
        <p><%= truncate(post.body, length: 50) %></p>
        <p><%= link_to "続きを読む", post, class: "btn btn-default" %></p>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
