<div class="col-md-12">

  <h1>プロジェクト更新</h1>
  <h2>タイトル</h2>
    <%= @post.title %>
  <h2>本文</h2>
    <%= simple_format(@post.body) %>

  <%= form_with model: @post, local: true do |form| %>
    <div class="form-group">
      <%= form.label " " %><br>
      <%#= text_area_tag 'post[body]', "", class: "form-control" %>
      <%= form.text_area :body, value: "", class: "input-mysize2" %>
    </div>
    <%= form.submit '更新する', class: "btn btn-primary" %>
  <% end %>

</div>
