<!DOCTYPE html>
<html>
  <head>
    <title>Babel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <%= link_to "Babel", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "新規プロジェクト", new_post_path, class: "navbar-brand" %>
          </ul>
        </div>
      </div>

   <div class="background">
     <div class="container">
       <div class="row">
         <%= yield %>
       </div>
     </div>
   </div>
 </body>

</html>
